<div th:replace="layout/header"></div>
    <div class="container"  style="max-width: 1000px">
        <div class="py-3 text-center">
            <h2>게시글 수정</h2>
        </div>

        <form th:object="${dto}" >
             <div>
                 <input type="hidden" id="board_no" class="form-control"  th:field="*{board_no}">
                 <input type="hidden" id="view_cnt" class="form-control"  th:field="*{view_cnt}">
             </div>
            <div>
                <label for="title">제목</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요.">
            </div>
            <div>
                <label for="content">내용</label>
                <textarea cols="150" rows="10" id="content" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요.">
                    </textarea>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" id="btn-update" type="button">수정</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            th:onclick="|location.href='@{/board/{boardNum}(boardNum=${dto.board_no})}'|"
                            type="button">취소</button>
                </div>
            </div>
        </form>
    </div>
<div th:replace="layout/footer"></div>